---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Summary from '../components/Summary.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="split-screen">
			<Summary />
			<div class="content-about">

					<!-- <p class="smalltitle">leteeno / README.md <span style="color: var(--timestamps);">• last updated January 26th, 2025</span></p> -->

					<!-- Start of "README" Content -->
	
					<h2 class="content-head">hi there!</h2>
					<p>I'm a self-taught developer, interested in web, discord bot and minecraft plugin development.  
						The functioning of the internet fascinates me from time to time again. How IP addresses work, 
						how data travels from server to server or from server to client and vice versa. It's always exciting to explore the internet anew!</p>
					<p>Beside my hobby of coding, I'm a railway enthusiast, and also work as a train driver at national express where I drive the Bombadier Talent 2 and the Siemens Desiro HC EMU's! 💫</p>
					<p>My favourite route is the RE5 between Wesel and Koblenz Hbf, it has some beautiful views, is fun to drive and never gets boring!</p>
					<p>I may act weird sometimes, sorry <span style="color: var(--accent);">qwq</span></p>	
			</div>
			
		  </div>
		  

		<Footer />
	</body>
</html>
