---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Summary from '../components/Summary.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="split-screen">
			<Summary />
			<div class="content">
                <div class="content-column">
                    <div class="content-soon">
	
                        <div><h2 class="content-head">My projects c.c</h2>
                        <p>There are <i>some</i> projects I work on. If you want to find out more, you can click on it!</p>
                        <p>You can find more stuff (like source codes) on my <a href="https://github.com/uncutified">GitHub</a>!</p>
                    </div>
    
                        <img src="https://media.discordapp.net/stickers/1039992459209490513.png?size=160&passthrough=true" alt="">
                </div>

                <hr class="project-div">

                <div class="content-project">
                    <h2 class="content-head"><a href="https://minehost.xyz">💻 Minehost.xyz</a></h2>
                    <p>Offering powerful minecraft server hosting for everyone. Extremely cheap and high quality.
                    </p>
                </div>
                <div class="content-project">
                    <h2 class="content-head"><a href="#">🚂 EiB-Ausbildung.de</a></h2>
                    <p>Upcoming Website which will be made to support german trainee train drivers on their apprenticeship. It will feature stuff like signals, quizzes 
                        and more essential stuff.
                    </p>
                </div>
                
                </div>
                </div>
                
		  </div>
		  

		<Footer />
	</body>
</html>
